.wrapper {
    flex: 9;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 40px;
}

.image {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.title {
    font-family: 'Lora', serif;
    font-size: 2.8rem;
    text-align: center;
    margin: 10px;
}

.title-input {
    font-family: 'Lora', serif;
    font-size: 2.8rem;
    text-align: center;
    margin: 10px;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgrey;

    &:focus {
        outline: none;
    }
}

.edit {
    float: right;
    font-size: 1.6rem;
}

.icon {
    margin-left: 10px;
    cursor: pointer;

    &:first-child {
        color: teal;
    }

    &:last-child {
        color: tomato;
    }
}

.info {
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: #b39656;
}

.description {
    color: #666;
    font-size: 1.8rem;
    line-height: 25px;
}

.description::first-letter {
    margin-left: 20px;
    font-size: 3rem;
    font-weight: 600;
}

.description-input {
    color: #666;
    font-size: 1.8rem;
    line-height: 25px;
    border: none;

    &:focus {
        outline: none;
    }
}

.confirm-update {
    width: 100px;
    color: white;
    background-color: teal;
    border: none;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}