.wrapper {
    margin-top: 114px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}

.header-small {
    position: absolute;
    top: 200px;
    font-size: 2rem;
}

.header-large {
    position: absolute;
    top: 210px;
    font-size: 8.25rem;
}

.header-img {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}
